<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Viber bot confuguration</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <h1>Form</h1>
    <form action="#" th:action="@{/config}" th:object="${viberBotConfig}" method="post" class="form-horizontal">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="token">viber bot token</label>
                <input th:field="${viberBotConfig.token}" id="token" name="token" type="text"
                       placeholder="xxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxx" class="form-control"/>
                <p class="help-block">The authentication token (also known as application key) is a unique and secret
                    account identifier.</p>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="web_hook_url">Web hook url</label>
                <input id="web_hook_url" th:field="${viberBotConfig.url}" name="web_hook_url" type="text"
                       placeholder="https://my.host.com" class="form-control"/>
                <p class="help-block">This webhook will be used for receiving callbacks and user messages from
                    Viber.</p>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="web_hook_url">Web hook url</label>
                <input id="urlApi" th:field="${viberBotConfig.urlApi}" name="web_hook_url" type="text"
                       placeholder="https://chatapi.viber.com/pa/" class="form-control"/>
                <p class="help-block">Viber chat api url.</p>
            </div>

            <!-- Multiple Checkboxes -->
            <div class="form-group">
                <label class="form-check-label">Event types</label>
                <th:block th:each="event : ${allViberEventEnums}">
                    <div class="checkbox">
                        <!--<label class="checkbox" th:text="${event}"/>-->
                        <input type="checkbox" th:value="${event}" th:text="${event}"
                               th:field="${viberBotConfig.eventEnums}"/>
                    </div>
                </th:block>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="submit">Save configuration</label>
                <div class="controls">
                    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="container">
    <h1>Viber bot status</h1>
    <p th:text="${status}">
    </p>
</div>

</body>
</html>